a:hover {background:yellow}
html {scroll-behavior: smooth;}
table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px; }
  
  
  td, th {
    border: 1px solid darkgreen;
    padding: 4px 6px;
    text-align: center; 
    background-color: white; }

  
